*.idea
*.pyc
*.log
*.cfg
.coverage
htmlcov
temp/
src/
data-proxy-config.json
*.egg-info
.DS_Store
.vscode/
*.code-workspace
config.yaml
ratelimiter-config.json
.fn_rabbit.json
*.sublime*
.cache/
*.local.*
